=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header
            = breadcrumb_parent "Books", books_path
            = breadcrumb_parent @parent.book.title, book_path(@parent.book)
            = breadcrumb_parent @parent.name, book_chapter_path(@parent.book, @parent)
            = "Scene #{@component.number}"
        =r ux.component_divider

        = turbo_stream_from "scene_#{@component.id}"

        = render partial: 'action_buttons', locals: { component: @component, parent: @parent }

        = turbo_frame_tag "#{@computer_name}_#{@component.id}_prompt"
          .data-clipboard-wrapper data-controller="clipboard"
            .flex.justify-between.items-center.mb-2
              =r ux.h5 class: '!mb-0', text: 'Outline'
              button.btn-primary.text-xs type="button" data-clipboard-target="button" data-action="click->clipboard#copy" Copy
            =r ux.segment '!bg-yellow-100 !mb-10'
              div data-clipboard-target="source"
                = simple_format @component.outline

        = render partial: 'scene_content', locals: { component: @component }
