=r ux.container
  =r ux.row
    =r ux.column width: 16

      =r ux.segment '!bg-slate-900 inverted !mb-8 !py-2 !rounded-sm'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'book !text-sm !mb-1 !mr-2'
            | Welcome to Book Rhino
