=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header
            = breadcrumb_parent @component_name, send(@component_list_path)
            = @component.title
          =r ux.component_return_action text: '< Back', url: send(@component_list_path)
        =r ux.component_divider

        =r ux.grid
          =r ux.row
            =r ux.column size: 10
              =r ux.segment
                =r ux.h4 text: 'Book Details'
                =r ux.h5 text: 'Writing Style'
                = @component.writing_style.name

                =r ux.h5 text: 'Perspective'
                = @component.perspective.name

                =r ux.h5 text: 'Narrative Structure'
                = @component.narrative_structure.name

                =r ux.h5 text: 'Chapter Count'
                = @component.chapter_count

                =r ux.h5 text: 'Pages'
                = @component.pages

            =r ux.column size: 6
              =r ux.segment
                =r ux.h4 text: 'Characters'
                =r ux.h5 text: 'Protagonist'
                - if @component.protagonist
                  = link_to @component.protagonist.name, character_path(@component.protagonist), class: 'text-blue-700'
                - else
                  | None assigned

                =r ux.h5 text: 'Antagonists'
                - if @component.antagonists.any?
                  =r ux.ordered_list
                    - @component.antagonists.each do |antagonist|
                      =r ux.list_item
                        = link_to antagonist.name, character_path(antagonist), class: 'text-blue-700'
                - else
                  | None assigned

                =r ux.h5 text: 'Other Characters'
                - if @component.characters.any?
                  =r ux.ordered_list
                    - @component.characters.each do |character|
                      =r ux.list_item
                        = link_to character.name, character_path(character), class: 'text-blue-700'
                - else
                  | None assigned

        =r ux.segment '!mb-20'
          =r ux.h5 text: 'Moral'
          = simple_format @component.moral

        =r ux.component_button_holder 'mb-10'
          = link_to 'Edit Plot', send(@component_edit_prompt_path), class: 'btn-secondary mr-2'
          = button_to 'Generate Plot', send(@component_generate_prompt_path), method: :post, class: 'btn-primary', data: { 'turbo-action': 'replace'}
          = button_to 'Extract Chapters', extract_chapters_book_path(@component), method: :post, class: 'btn-primary ml-2', data: { 'turbo-action': 'replace'}
          = button_to 'Write Chapters', write_chapters_book_path(@component), method: :post, class: 'btn-primary ml-2', data: { 'turbo-action': 'replace'}

        = turbo_stream_from "#{@computer_name}_#{@component.id}"
        = render partial: 'prompt', locals: { component: @component, computer_name: @computer_name }
        = render partial: 'iterate_form', locals: { component: @component, computer_name: @computer_name}

        - if @component.chapters.any?
          =r ux.segment '!mb-20'
            =r ux.h4 text: 'Chapter Summaries'
            =r ux.ordered_list
              - @component.chapters.order(:number).each do |chapter|
                =r ux.list_item
                  =r ux.h5 text: chapter.name
                  = simple_format chapter.plot_summary

          =r ux.segment '!mb-20'
            =r ux.h4 text: 'Chapter Content'
            - @component.chapters.order(:number).each do |chapter|
              .chapter-content.mb-8
                =r ux.h3 text: "Chapter #{chapter.number}: #{chapter.name}"
                .prose.prose-lg.max-w-none
                  = markdown(chapter.content)
                =r ux.divider