- settings = Setting.instance

.generation-prompts.mt-8
  .mb-8 data-controller="clipboard"
    .flex.justify-between.items-center.mb-2
      =r ux.h5 class: '!mb-0', text: 'Character Image Generation Prompt'
      - if settings.character_image_prompt.present?
        button.btn-primary.text-xs type="button" data-clipboard-target="button" data-action="click->clipboard#copy" Copy
    =r ux.segment '!bg-gray-50 !border-gray-300 !border-2 !p-4 !rounded-sm'
      pre.whitespace-pre-wrap.text-xs.font-mono.m-0 data-clipboard-target="source"
        = settings.character_image_prompt.presence || 'No prompt configured in Settings.'

  .mb-8 data-controller="clipboard"
    .flex.justify-between.items-center.mb-2
      =r ux.h5 class: '!mb-0', text: 'Character Pose Generation Prompt'
      - if settings.character_pose_prompt.present?
        button.btn-primary.text-xs type="button" data-clipboard-target="button" data-action="click->clipboard#copy" Copy
    =r ux.segment '!bg-gray-50 !border-gray-300 !border-2 !p-4 !rounded-sm'
      pre.whitespace-pre-wrap.text-xs.font-mono.m-0 data-clipboard-target="source"
        = settings.character_pose_prompt.presence || 'No prompt configured in Settings.'
