=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header
            =@component_name.pluralize
        =r ux.component_divider

        =r ux.table class: 'relaxed celled striped structured !mb-20'
          =r ux.thead
            =r ux.tr
              =r ux.th text: 'Name'
              =r ux.th text: 'Description'
          - @component_list.each do |component|
            =r ux.tr
              =r ux.td '!pr-4 !border-b-4 border-solid'
                =r ux.h4 text: component.name
              =r ux.td '!border-b-4 border-solid'
                =r ux.segment '!mt-3 !bg-blue-100'
                  = component.definition
                =r ux.segment '!mt-3 !bg-yellow-100'
                  = component.purpose
                =r ux.label text: markdown(component.example), class: '!mb-3 !bg-violet-500 !text-white !font-normal'

        =r ux.div 'text-center'
          = paginate @component_list
