=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header
            =@component_name
            =r ux.component_counter text: @component_count
          =r ux.component_action text: 'New Writing Style', url: send(@component_new_path)

      =r ux.div 'text-center'
        = paginate @component_list

      - @component_list.each do |tweet|
        = render 'tweet', tweet: tweet

      =r ux.div 'text-center'
        = paginate @component_list
