- if @component.errors.any?
  =render 'partials/form_errors'

=r ux.component_segment controller: 'dropdown'
  = form_with model: @component, url: send(@component_detail_path), class: 'ui form', local: true do |form|

    =r ux.component_field
      = form.label :plot_summary
      = form.text_area :plot_summary, value: @component.plot_summary, rows: 30

    =r ux.component_submit_field
      = form.submit class: 'btn-primary'
