=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header
            = breadcrumb_parent "Books", books_path
            = breadcrumb_parent @parent.title, book_path(@parent)
            = truncate(@component.name, length: 30)
          = render partial: 'action_buttons', locals: { component: @component, parent: @parent }
        =r ux.component_divider

        = turbo_stream_from "chapter_#{@component.id}"

        = turbo_frame_tag "#{@computer_name}_#{@component.id}_prompt"
          =r ux.h5 text: 'Plot Summary'
          =r ux.segment '!bg-yellow-100 !mb-10'
            = simple_format @component.plot_summary

        = render partial: 'chapter_content', locals: { component: @component }
