=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header text: 'Previous Writing Style Versions'
          =r ux.component_return_action text: '< Back', url: writing_style_texts_path
        =r ux.component_divider
        - @versions_with_prompt_changes.each do |version|
          = r ux.version
            =r ux.version_menu
              =r ux.menu 'right'
                =r ux.item
                  =r ux.version_action text: 'Revert Version', url: '#'
                =r ux.item
                  =r ux.version_action text: 'Merge With Current', url: '#'
            =r ux.version_meta
              =r ux.component_container
                = r ux.version_meta_text text: "Version ID: #{version[:id]}"
                = r ux.version_meta_text text: "Changed: #{version[:updated_at].strftime('%m/%d/%Y')}"
            =r ux.version_content
              = r ux.ordered_list
              - version[:old_prompt].each do |item|
                = r ux.list_item text: item[1]

