=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header
            = breadcrumb_parent @component_name, send(@component_list_path)
            = @component.name
          =r ux.component_button_holder
            = link_to 'Edit', send(@component_edit_path), class: 'btn-edit mr-2'
        =r ux.component_divider

        =r ux.segment
          =r ux.h5 text: 'Name'
          = @component.name
          =r ux.h5 text: 'City'
          = @component.city
          - if @component.state
            =r ux.h5 text: 'State'
            = @component.state
          =r ux.h5 text: 'Country'
          = @component.country
          =r ux.h5 text: 'Description'
          = @component.description
