= turbo_frame_tag "#{computer_name}_#{component.id}_prompt"
  - if component.pending
    =r ux.h5 text: 'Prompt Instructions'
    =r ux.segment '!bg-yellow-100 !mb-10 !h-32'
      div class="ui active inverted dimmer"
        div class="ui text loader small elastic" Processing Your Request

  - if component.prompt.present? && !component.pending
    .data-clipboard-wrapper data-controller="clipboard"
      .flex.justify-between.items-center.mb-2
        =r ux.h5 class: '!mb-0'
          | Prompt Instructions
          -if component.versions.present?
            span.ml-2
              |[
            = link_to "Previous Versions", send("#{computer_name}_versions_path", "#{computer_name}_id": component.id), class: 'text-blue-700 hover:text-blue-700', data: {turbo_frame: "_top"}
            |]
        .flex.gap-2
          button.btn-primary.text-xs type="button" data-clipboard-target="button" data-action="click->clipboard#copy" Copy
          button.btn-secondary.text-xs type="button" data-clipboard-target="button" data-action="click->clipboard#copyFormatted" data-clipboard-prompt-param=Setting.instance.location_background_prompt.to_s 📋 Location Bg Gen Prompt
      =r ux.segment '!bg-yellow-100 !mb-10'
        div data-clipboard-target="source"
          = simple_format component.prompt
