=r ux.container
  =r ux.row
    =r ux.column width: 16
      = turbo_frame_tag 'crud_frame'
        =r ux.component_container
          =r ux.component_header
            = breadcrumb_parent @component_name, send(@component_list_path)
            = @component.name
          =r ux.component_return_action text: '< Back', url: send(@component_list_path)
        =r ux.component_divider

        =r ux.segment
          =r ux.h5 text: 'Region'
          - if @component.region
            = "#{@component.region.name} (#{@component.region.city}, #{@component.region.country})"
          - else
            | No region specified
          =r ux.h5 text: 'Description'
          = @component.description
          =r ux.h5 text: 'Lighting'
          = @component.lighting
          =r ux.h5 text: 'Time'
          = @component.time
          =r ux.h5 text: 'Noise Level'
          = @component.noise_level
          =r ux.h5 text: 'Comfort'
          = @component.comfort
          =r ux.h5 text: 'Aesthetics'
          = @component.aesthetics
          =r ux.h5 text: 'Accessibility'
          = @component.accessibility
          =r ux.h5 text: 'Personalization'
          = @component.personalization
